@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box; 
}

body, main, header, p, h1, h2, h3, h4, h5, h6, footer, li{
	display: block;
	margin: 0px;
	padding: 0px;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Domine', serif;   
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: #ffff01;
}

body{
    width: 100%;
    background: #cccccc;
}

nav{
    display: flex;
    flex-flow: row wrap;
    padding: 0px 50px;
}

nav ul{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

nav a{
    display: flex;
    flex-flow: row wrap;
    padding: 5px 15px;
}

nav a:hover{
    color: #ffff01;
    text-decoration: underline;
}

nav a:first{
    padding: 5px 0px;
}

nav, nav a, footer, footer a{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    background: #270075;
    color: white;
}

main{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 50px 100px;
}

section#one{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    margin: auto;
}

section#one h1, section#one p{
    width: 50%;
    margin: auto;
}

section#two{
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    margin: auto;
}

section#two h2{
    width: 100%;
}


footer{
    padding: 15px 100px;
}

#footer-title{
    width: 33%;
    margin: auto 0px;
}

footer address{
    width: 33%;
    flex-flow: row wrap;
    margin: auto;
    font-style: normal;
    text-align: center;
}

footer address a{
    text-align: center;
}

footer #address{
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    text-align: center;
}

#address p{
    text-align: center;
}

footer #socials{
    width: 33%;
    display: flex;
    flex-flow: row wrap;
    margin: auto;
}

#socials a{
    width: 45px;
    aspect-ratio: 1/1;
    display: flex;
    flex-flow: row wrap;
    margin: 15px;
}

#socials a img{
    width: 100%;
}